.brands,
.equipment-types {
  &__wrapper {
    @include side-blur;

    overflow: hidden;
    padding: 16px;
  }

  &__list {
    display: grid;
    grid-auto-flow: column;

    margin: -16px -16px 0;
    padding: 16px;

    list-style: none;
  }

  &__item {
    min-width: 240px;
  }

  @media (min-width: $vp-mobile) {
    &__wrapper {
      padding: 24px;
    }

    &__list {
      margin: -24px -24px 0;
      padding: 24px;
    }
  }

  @media (min-width: $vp-tablet) {
    &__wrapper {
      @include unset-side-blur;
    }

    &__list {
      display: grid;
      grid-auto-columns: 240px;
      grid-auto-flow: row;
      grid-template-columns: repeat(3, auto);
      row-gap: 16px;
      column-gap: 24px;

      max-height: 200px;
    }

    &__item {
      min-width: 200px;
    }
  }

  @media (min-width: $vp-desktop) {
    &__wrapper {
      padding: 24px 32px;
    }

    &__list {
      grid-template-columns: repeat(4, auto);
      column-gap: 32px;
      margin: -24px -32px 0;
      padding: 24px 32px;
    }
  }
}

.brands__list {
  @media (min-width: $vp-tablet) {
    grid-auto-rows: 72px;
  }
}

.equipment-types__list {
  @media (min-width: $vp-tablet) {
    grid-auto-rows: 160px;
  }
}
