.btn {
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  padding: 0;

  background-color: $color-transparent;
  border: none;

  &__text {
    padding: 0 8px;
    font-weight: 500;
    letter-spacing: -0.2px;
    transition: color $trans-default;
  }

  svg {
    width: 40px;
    height: 40px;

    color: $color-default-white;

    fill: $color-violet-red;
    stroke: $color-violet-red;
    stroke-width: 2px;

    transition: color $trans-default, fill $trans-default;
  }

  &--circle {
    border-radius: 50%;
  }

  &--rounded {
    border-radius: 20px;
  }

  &--expand {
    border-radius: 2px;

    svg {
      width: 24px;
      height: 24px;
      color: $color-turquoise;
      transition: transform $trans-default, color $trans-default;
    }

    .btn__text {
      display: inline-block;
    }

    &[aria-expanded="true"] svg {
      transform: rotate(180deg);
    }

    &[aria-expanded="false"] svg {
      transform: rotate(0deg);
    }
  }

  &--go,
  &--text-go {
    width: 100%;
    min-width: 200px;
    min-height: 72px;
    padding: 0 16px;

    background: $color-default-white;
    border: 1px solid $color-whisper;
    border-radius: 6px;

    transition: border-color $trans-default;

    svg {
      margin-left: auto;
      color: $color-violet-red;
      fill: $color-default-white;
    }
  }

  &--text-go {
    flex-direction: column;
    min-height: 160px;
    padding: 16px;

    .btn__text {
      align-self: flex-start;
      padding: 0;
    }

    svg {
      margin-top: auto;
    }
  }

  &--action {
    padding: 4px;
    color: $color-default-white;
    background-color: $color-violet-red;
    border-radius: 16px;

    .btn__text {
      position: relative;

      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
    }

    .btn__text::after {
      content: "";

      position: absolute;
      bottom: 4px;
      left: 8px;
      transform-origin: bottom right;
      transform: scaleX(0);

      width: 80%;
      height: 2px;

      background-color: $color-default-white;

      transition: transform $trans-default;
    }

    svg {
      width: 24px;
      height: 24px;
      margin-left: auto;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:active {
    filter: brightness(0.95);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $color-violet-red;

      svg {
        color: $color-violet-red;
        fill: $color-default-white;
      }

      &.btn--go,
      &.btn--text-go {
        border-color: $color-water-leaf;

        svg {
          color: $color-default-white;
          fill: $color-violet-red;
        }
      }

      &.btn--action {
        color: $color-default-white;

        .btn__text::after {
          transform-origin: bottom left;
          transform: scaleX(1);
        }
      }
    }
  }
}
