.main-menu {
  overflow-y: auto;

  min-height: 24px;
  margin: 0 0 0 -16px;
  padding: 4px 16px 4px 0;

  font-weight: 500;
  list-style: none;

  &__item {
    margin-bottom: 24px;
    padding: 0 16px;
  }

  &__link.is-active {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: -16px;
      transform: translateY(-50%);

      width: 4px;
      height: 32px;

      background: $color-turquoise;
      border-radius: 0 4px 4px 0;
    }
  }

  @media (min-width: $vp-mobile) {
    margin: 0 0 0 -24px;

    &__item {
      padding: 0 24px;
    }

    &__link.is-active {
      &::before {
        left: -24px;
      }
    }
  }

  @media (min-width: $vp-tablet) {
    &__item {
      margin-bottom: 32px;
    }
  }

  @media (min-width: $vp-desktop) {
    padding: 4px 0;

    &__item {
      margin-bottom: 26px;
    }

    &__link.is-active {
      &::before {
        left: -23px;
        height: 28px;
        border-radius: 2px;
      }
    }
  }
}
