@keyframes disable-breakpoint-animation {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlay-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes modal {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes modal-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
