@mixin side-blur {
  position: relative;

  &::before,
  &::after {
    content: "";

    position: absolute;
    z-index: 1;
    top: 50%;

    width: 20px;
    height: 100%;

    background: $white-smoke-to-transparent;
  }

  &::before {
    left: 0;
    transform: translateY(-50%) scale(1, -1);
  }

  &::after {
    right: 0;
    transform: translateY(-50%) scale(-1, 1);
  }
}
