@mixin side-blur {
  position: relative;

  &::before,
  &::after {
    content: "";

    position: absolute;
    z-index: 1;
    top: 0;

    width: 20px;
    height: 100%;

    background: $white-smoke-to-transparent;
  }

  &::before {
    left: 0;
    transform: scale(1, -1);
  }

  &::after {
    right: 0;
    transform: scale(-1, 1);
  }
}

@mixin unset-side-blur {
  &::before,
  &::after {
    content: none;
  }
}
