// Colors
// ---------------------------------

// Default

$color-default-black: #000;
$color-default-white: #fff;
$color-transparent: rgb(255 255 255 / 0);

// Project palette
// https://www.htmlcsscolor.com/hex/334482

$color-black-russian: #1b1c21;
$color-storm-grey: #7e7e82;
$color-lynch: #6b7b84;
$color-bali-hai: #80949f;
$color-mischka: #b5b6bc;
$color-whisper: #eaeaea;
$color-white-smoke: #f8f8f8;
$color-violet-red: #ff3e79;
$color-turquoise: #41f6d7;
$color-water-leaf: #b8ffec;
$color-clear-day: #d9fff5;
$color-default-white-96p: rgba($color-default-white, 0.96);

// Gradient

$white-smoke-to-white: linear-gradient(
  90deg,
  $color-white-smoke 0%,
  $color-default-white 98.61%
);
$white-smoke-to-transparent: linear-gradient(
  90deg,
  $color-white-smoke 16.84%,
  $color-transparent 100%
);

// Typography
// ---------------------------------

$fz-default: 16px;
$ff-ttlakes: "TT Lakes", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.6s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
// ---------------------------------

$vp-mobile: 360px;
$vp-tablet: 768px;
$vp-desktop: 1366px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
