<form class="modal__form" action="#" method="post" target="_blank">
  <h2 class="modal__title">Заказать звонок</h2>
  <div class="modal__form-content">
    <label class="visually-hidden" for="call-number">Телефонный номер:</label>
    <input class="modal__form-input" type="tel" name="phone" placeholder="Телефон" id="call-number" maxlength="21" required>
  </div>
  <div class="modal__gdpr">
    <p class="modal__gdpr-text">Нажимая “отправить”, вы даете согласие на <a href="#" target="_blank">обработку персональных данных</a> и соглашаетесь с нашей <a href="#" target="_blank">политикой конфиденциальности</a></p>
    <button class="btn btn--action modal__gdpr-btn" type="submit">
      <span class="btn__text">Отправить</span>
      <svg class="btn__icon" width="24" height="24" aria-hidden="true">
        <use xlink:href="#icon-goside" />
      </svg>
    </button>
  </div>
</form>
